<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <main>
        <div>
            <th:block th:include="~{/fragments/nav-bar}"></th:block>
        </div>
        <div>
            <th:block th:include="~{/fragments/user-nav-bar}"></th:block>
        </div>
        <div class="container mt-4 mb-4 justify-content-center">
            <form id="filter-transactions" th:action="@{/user/bills}" th:method="post" th:object="${model}">
                <div style="margin-left: 10%" class="mt-4 mb-4">
                    <img width="30px" height="30px"
                         src="https://cdn2.iconfinder.com/data/icons/vehicle-insurance/256/Medical_Payments_Coverage-512.png"> <span
                        style="font-size: x-large">Плащане на сметки</span>
                </div>
                <div class="row justify-content-center">

                    <div class="col-sm-10" style="background-color: #f2f2f2; border-radius: 30px">
                        <div class="form-group mt-4">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>За:</span></div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" id="bill-type" onchange="selectSupplier()" name="type">
                                            <option th:value="choose"
                                                    th:text="'Изберете'" readonly/>
                                            <option th:each="billType : ${T(com.example.onlinebankingsystem.data.enums.BillType).values()}"
                                                    th:value="${billType}" th:text="${billType}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Доставчик:</span></div>
                                <div class="col-sm-6">
                                    <div class="form-group" th:classappend="${#fields.hasErrors('supplier')}? 'text-danger'">
                                        <select class="form-control" th:field="*{supplier}" id="supplier"  name="supplier">
                                            <option disabled  th:value="choose"
                                                    th:text="'Изберете'"/>
                                        </select>
                                        <small
                                                th:each="error : ${#fields.errors('supplier')}">
                                            <span th:text="${error}"/>
                                            <br>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-4">
                                    <div class="col-sm-2"><span>Сметка:</span></div>
                                    <div class="col-sm-6">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('account')}? 'text-danger'">
                                            <select class="form-control" th:field="*{account}" id="account" name="account">
                                                <option th:value="choose"
                                                        th:text="'Изберете сметка'" readonly/>
                                                <option th:value="${user.getAccountNumber()}"
                                                        th:text="${user.getUser().getFullName()} + ' ( ' + ${user.getAccountNumber()} + ' - '+ ${user.getBalance()} + ' '+ ${user.getCurrency()} +' )'"/>
                                            </select>
                                            <small
                                                    th:each="error : ${#fields.errors('account')}">
                                                <span th:text="${error}"/>
                                                <br>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('clientNumber')}">
                                    <div class="row mt-4">
                                        <div class="col-sm-2"><span>Клиентски номер:</span></div>
                                        <div class="col-sm-6">
                                            <input type="number" th:field="*{clientNumber}" class="form-control text-center"
                                                   id="clientNumber"
                                                   name="clientNumber">
                                            <small
                                                    th:each="error : ${#fields.errors('clientNumber')}">
                                                <span th:text="${error}"/>
                                                <br>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-sm-2"><span>Сума:</span></div>
                                    <div class="col-sm-2">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('quantity')}? 'text-danger'">
                                            <input type="number" th:field="*{quantity}" step="0.01" class="form-control" id="quantity" name="quantity">
                                            <small
                                                    th:each="error : ${#fields.errors('quantity')}">
                                                <span th:text="${error}"/>
                                                <br>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="BGN" style="width: 50%;">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success" style="width: 100%">Плащане
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row mt-4 justify-content-md-center">
                                        <div class="col-sm-6 ">
                                        <span style="color: green; text-align: center"
                                              th:text="${successMessage}"></span><span style="color: red; text-align: center"
                                                                                       th:text="${failedMessage}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
    <script th:src="@{/js/bills.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</div>
</body>
</html>

