<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <main>
        <div>
            <th:block th:include="~{/fragments/nav-bar}"></th:block>
        </div>
        <th:block th:include="~{/fragments/user-nav-bar}"></th:block>
        <div class="container">
            <div class="row mt-4">
                <div class="col-sm-4">
                    <div>
                        <th:block th:include="~{/fragments/user-details}"></th:block>
                    </div>
                </div>
                <div class="col">
                    <input type="hidden">
                </div>
                <div class="col-sm-6">
                    <div class="container justify-content-center">
                        <h6 class="text-center mt-4">
                            <img src="https://www.pngrepo.com/png/181917/180/sort-arrows.png"
                                 height="25"
                                 width="25"> Последни движения по сметка:</h6>
                        <hr>
                        <div class="row mt-4 justify-content-center">
                            <div class="col-sm-12 mr-4">
                                <h6 class="text-center">Приходи</h6>
                                <table class="table mt-4 table-bordered">
                                    <tbody>
                                    <thead>
                                    <tr>
                                        <th style="border-color: dodgerblue" scope="col">Дата</th>
                                        <th style="border-color: dodgerblue" scope="col">Подател</th>
                                        <th style="border-color: dodgerblue" scope="col">Сума</th>
                                        <th style="border-color: dodgerblue" scope="col">Получател - Сметка</th>
                                        <th style="border-color: dodgerblue" scope="col">Подател - Сметка</th>
                                    </tr>
                                    </thead>
                                    <th:block th:each="income : ${userIncomes}">
                                        <tr>
                                            <td style="border-color: dodgerblue" th:text="${income.getDate()}"></td>
                                            <td style="border-color: dodgerblue" th:text="${income.getDetails()}"></td>
                                            <td style="border-color: dodgerblue; color: green"
                                                th:text="${income.getQuantity()}"></td>
                                            <td style="border-color: dodgerblue"
                                                th:text="${income.getRecipient().getAccountNumber()}"></td>
                                            <td style="border-color: dodgerblue" th:text="${income.getSender()}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 mr-4">
                                <h6 class="text-center">Разходи</h6>
                                <table class="table mt-4 table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="border-color: dodgerblue" scope="col">Дата</th>
                                        <th style="border-color: dodgerblue" scope="col">Подател</th>
                                        <th style="border-color: dodgerblue" scope="col">Сума</th>
                                        <th style="border-color: dodgerblue" scope="col">Получател - Сметка</th>
                                        <th style="border-color: dodgerblue" scope="col">Подател - Сметка</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="cost : ${userCosts}">
                                        <tr>
                                            <td style="border-color: dodgerblue" th:text="${cost.getDate()}"></td>
                                            <td style="border-color: dodgerblue" th:text="${cost.getDetails()}"></td>
                                            <td style="border-color: dodgerblue; color: red"
                                                th:text="${cost.getQuantity()}"></td>
                                            <td style="border-color: dodgerblue" th:text="${cost.getRecipient()}"></td>
                                            <td style="border-color: dodgerblue"
                                                th:text="${cost.getSender().getAccountNumber()}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>