<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <main>
        <div>
            <th:block th:include="~{/fragments/nav-bar}"></th:block>
        </div>
        <th:block th:include="~{/fragments/user-nav-bar}"></th:block>
        <div class="container">

        </div>
    </main>
    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>