<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block>
    <footer style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; border:solid 2px; border-color: #e3f2fd" >


            <!-- Links -->
            <p class="text-center">
                <i class="fas fa-home mr-3"></i>Varna, str.Dubrovnik №18
                <i class="fas fa-envelope mr-3"></i>btb@gmail.com
                <i class="fas fa-phone mr-3"></i>+ 359 884 298 184
                <i class="fas fa-print mr-3"></i>+ 359 897 298 184
            </p>


        <!-- Grid column -->

        <!-- Footer Links -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
           Всички права запазени
        </div>
        <!-- Copyright -->

    </footer>
</th:block>