<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-light" style="opacity: 0.9;
         border-top-right-radius: 30px;border-top-left-radius: 30px;; -moz-border-radius-topright: 30px;background-color: #dadde0;">
    <a class="navbar-brand" th:href="@{/}">
        <img src="https://i.ibb.co/ZVqHXgL/btb-logo-final.png" width="180" height="20" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: black" th:href="@{/}">Начало</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black" th:href="@{/about}">За нас</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" style="color: black" th:href="@{/contacts}">Контакти</a>
            </li>
        </ul>
        <th:block sec:authorize="hasRole('ROLE_USER')">
            <form action="/logout?login" method="post">
               <button class="btn btn-green-link logout-button"> <img src="https://cdn0.iconfinder.com/data/icons/thin-line-color-2/21/05_1-512.png" width="20px" height="20px"> Изход</button>
            </form>
        </th:block>
    </div>
</nav>
<!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </li> -->