.main {
    background-image: url(https://images.squarespace-cdn.com/content/v1/54f7b734e4b0a942c3cb65d2/1510556066095-KGRJSQGOIFZQXW9YB01C/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/bigstock--129208067.jpg?format=1500w);
    height:80vh;
    background-size: 100% auto ;
    background-position: bottom;
    background-repeat: no-repeat;
    /*border-top-right-radius: 30px;
    border-top-left-radius: 30px*/
}
.transparent-input{
    background-color:transparent !important;
}
::placeholder{
    color: white;
}
.register-main{
    background-image: url("../img/family-2 (1).jpg");
}
/*.login-background{
    background-image: url("https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg");
    opacity: 0.9;
    border-radius: 30px;
}*/
.btn-login{
    border-radius: 50%;
    width: 45%;
}
