.main {
    background-image: url(https://www.proximus.be/dam/jcr:cbe5b027-a172-4aa7-a417-b80bc1e17c66/cdn/sites/iportal/images/blogs/social_media/res/family-management-app-social-en~2020-03-26-08-56-50~cache.jpg);
    height:80vh;
    background-size: 100% auto ;
    background-position: top;
    background-repeat: no-repeat;
    /*border-top-right-radius: 30px;
    border-top-left-radius: 30px*/
}
.transparent-input{
    background-color:transparent !important;
}
::placeholder{
    color: white;
}
.register-main{
    background-image: url("../img/family-2 (1).jpg");
}
/*.login-background{
    background-image: url("https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg");
    opacity: 0.9;
    border-radius: 30px;
}*/
.btn-login{
    border-radius: 50%;
    width: 45%;

}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;;
    height: 50px;
}

.paragraph{
    font-family: "Arial";
    color: white;
    font-size: 70px;
    margin-top: 80px;
    margin-left: 120px
}
.button-link {
    display: block;
    width: 200px;
    height: 45px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-left: 120px;
    text-decoration: none;
}

.img-icon{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;

}

.individual-link {
    display: block;
    width: 200px;
    height: 45px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 120px;
    text-decoration: none;
    margin-top: 30px;
}
.button-link:link {color:white}      /* unvisited link */
.button-link:visited {color:white}  /* visited link */
.button-link:hover {color:white}  /* mouse over link */
.button-link:active {color:white}  /* selected link */

.individual-link:link {color:white}      /* unvisited link */
.individual-link:visited {color:white}  /* visited link */
.individual-link:hover {color:white}  /* mouse over link */
.individual-link:active {color:white}

.forgot-password{
    color: white;
    margin-bottom: 80px;
    margin-left: 95px;
}