<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <main>
        <div>
            <th:block th:include="~{/fragments/nav-bar}"></th:block>
        </div>
        <div>
            <th:block th:include="~{/fragments/user-nav-bar}"></th:block>
        </div>
        <div class="container mt-4 mb-4 justify-content-center">
            <form th:action="@{/user/profile/edit-email}" th:method="post" th:object="${model}">
                <div style="margin-left: 10%" class="mt-4 mb-4">
                    <img width="30px" height="30px"
                         src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-10/512/Email-edit-icon.png"> <span
                        style="font-size: x-large">Промяна на имейл</span>
                </div>
                <div class="row justify-content-center">

                    <div class="col-sm-10" style="background-color: #f2f2f2; border-radius: 30px">
                        <div class="form-group mt-4">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Потребител:</span></div>
                                <div class="col-sm-6">
                                    <input type="username" class="form-control text-center"
                                           id="username" th:value="${model.getUsername()}" name="username" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Текущ имейл:</span></div>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control text-center"
                                           id="email" th:value="${model.getEmail()}" name="email" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Нов имейл:</span></div>
                                <div class="col-sm-6" th:classappend="${#fields.hasErrors('newEmail')}? 'text-danger'">
                                    <input type="email" class="form-control text-center"
                                           id="newEmail" placeholder="Моля въведете новия имейл.."
                                           name="newEmail" th:field="*{newEmail}">
                                    <small
                                            th:each="error : ${#fields.errors('newEmail')}">
                                        <span th:text="${error}"/>
                                        <br>
                                    </small>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-success "
                                        >Потвърди
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mt-4 justify-content-md-center">
                                <div class="col-sm-6 ">
                                    <span style="color: green; text-align: center" th:text="${success}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            </form>
        </div>
    </main>
    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>

