<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <main>
        <div>
            <th:block th:include="~{/fragments/nav-bar}"></th:block>
        </div>
        <div>
            <th:block th:include="~{/fragments/user-nav-bar}"></th:block>
        </div>
        <div class="container mt-4 mb-4 justify-content-center">
            <form th:action="@{/user/edit/password}" th:method="post" th:object="${model}">
                <div style="margin-left: 10%" class="mt-4 mb-4">
                    <img width="30px" height="30px"
                         src="https://cdn0.iconfinder.com/data/icons/crime-and-security-3-6/65/147-512.png"> <span
                        style="font-size: x-large">Промяна на парола</span>
                </div>
                <div class="row justify-content-center">

                    <div class="col-sm-10" style="background-color: #f2f2f2; border-radius: 30px">
                        <div class="form-group mt-4">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Потребител:</span></div>
                                <div class="col-sm-6">
                                    <input type="username" class="form-control text-center"
                                           id="username" th:value="${model.getUsername()}" name="username" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Текуша парола:</span></div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control text-center"
                                           id="oldPassword" placeholder="Моля въведете текущата парола.."
                                           name="oldPassword">
                                    <small style="color: red" th:text="${wrongMessage}"></small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Нова парола:</span></div>
                                <div class="col-sm-6" th:classappend="${#fields.hasErrors('password')}? 'text-danger'">
                                    <input type="password" class="form-control text-center"
                                           id="password" placeholder="Моля въведете новата парола.."
                                           name="password">
                                    <small
                                            th:each="error : ${#fields.errors('password')}">
                                        <span th:text="${error}"/>
                                        <br>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-4">
                                <div class="col-sm-2"><span>Потвърди парола:</span></div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control text-center"
                                           id="confirmPassword" placeholder="Моля потвърдете новата парола.."
                                           name="confirmPassword">
                                    <small style="color: red" th:text="${failedMessage}"></small>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-warning "
                                    >Потвърди
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                        <div class="row mt-4 justify-content-md-center">
                                <div class="col-sm-6 ">
                                    <span style="color: green; text-align: center" th:text="${successMessage}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            </form>
        </div>
    </main>
    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>

